<div id="wrapper">
<!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/promoter/meusServicos">
          Promoters
        </a>
      </li>
      <li>
        <a href="/promoter/perfil">Perfil</a>
      </li>
      <li>
        <a href="/promoter/fornecedores">Forncedores</a>
      </li>
      <li>
        <a href="/promoter/meusServicos">Meus serviços</a>
      </li>
      <li>
        <a href="/promoter">Log-out</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div>
      <script type="text/ng-template" id="error-messages">
          <div ng-message="required">Campo obrigatório</div>
          <div ng-message="minlength">Campo muito curto</div>
          <div ng-message="maxlength">Campo muito longo</div>
          <div ng-message="email">E-mail inválido</div>
          <div ng-message="date">Data inválida</div>
          <div ng-message="compareTo">Campo deve ser igual ao anterior</div>
      </script>
        <h1>Meus Serviços</h1>
        <h3 role="alert">{{ message }}</h3>
        <div ng-repeat="servico in servicos">
          <form novalidate ng-submit="cancel(servico)">
            <div class="form-group">
              <label>Nome:</label><input type="text" class="form-control" ng-model="servico.nome" ng-disabled="true">
              <label>Fornecedor:</label><input type="text" class="form-control" ng-model="servico.fornecedor" ng-disabled="true">
              <label>Estado:</label><input type="text" class="form-control" ng-model="servico.estado" ng-disabled="true">
              <label>Orçamento:</label><input type="text" class="form-control" ng-model="servico.orcamento" ng-disabled="true">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Cancelar</button>
            </div>
          </form>
        </div>
    </div>
  </div>
<!-- /#page-content-wrapper -->
</div>
<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
  e.preventDefault();
  $("#wrapper").toggleClass("toggled");
});
</script>
